<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

<bean id="credit" class="com.madhu.beans.CreditCardPay"/>
<bean id="debit" class="com.madhu.beans.DebitCardPay"/>
<bean id="payment" class="com.madhu.beans.PaymentProcess">
<property name="pay" ref="debit"></property> 
<!-- <constructor-arg>
<property name="pay" ref="debit"></property>
</constructor-arg>  -->
</bean>
</beans>